/*
Theme Name:     Diario Child
Theme URI: 		http://www.situacion24.com.ar
Description:    Tema hijo del template del diario
Author:         nikete
Author URI: 	http://www.coopares.org
Template:       diario                             
Version:        1
*/

@import url("../diario/style.css");
/*  ----------------------------------------------------------------------------
   empieza el custom :)
*/

body {font-family: "Open Sans";}
h1, h2, h3, h4, h5, h6 {font-family: "Roboto Slab"}
a {-webkit-transition: color 1s ease-in;
   -moz-transition: color 1s ease-in;
   -o-transition: color 1s ease-in;
   -ms-transition: color 1s ease-in;
   transition: color 1s ease-in;}
a:hover {
text-decoration: none !important;
color: #53848f !important;
 -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;}

/* HOME */
.td_mod2 .entry-title a {
font-size: 22px;
font-weight: 800;}
.td-grid-wrap {  padding: 10px 13px 0px 13px;
}
/* INTERVALOS */
@media (min-width: 1200px) {
  .iosSlider-col-2, .iosSlider-col-2 .item {height: 477px !important;}

}

@media (max-width: 1018px) and (min-width: 768px) {
.iosSlider-col-2, .iosSlider-col-2 .item {height: 356px !important}
.sf-menu > li > a {padding: 0px 11px 0px 0px;}
.sf-menu > .td-menu-item > a {font-size: 10px !important;}
#td-top-search {display: none;}
li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-has-children.td-menu-item.td-mega-menu.menu-item-8820 {display: none}
li.menu-item.menu-item-type-taxonomy.menu-item-object-category.td-menu-item.td-mega-menu.menu-item-9127 {display: none;}
}

@media screen and (max-width: 767px) {
    /*Cereal widget*/
    .widget_mercado_widget ul {
        width: 100%;
    }
    .span8 {
        width: 50%;
        position: relative ;
        float: left;
    }
    .span4 {
        width: 50%;
        position: relative;
        float: left;
    }
	.td-grid-wrap {
	padding: 31px 13px 0px 13px;}
}
.td-sbig-title-wrap {	bottom: 0; 	background: rgba(1,1,1,0.6);	padding: 5px;	} 
.td_normal_slide .td-sbig-title-wrap .td-sbig-title {font-size: 42px; line-height: 47px;}
.td-big-grid-title a {font-weight: 800;}
.td_mod_wrap .entry-title a {font-weight: 800}
.td-sbig-title-wrap .td-sbig-title {font-weight: 800; background: none !important; text-shadow: 1px 1px 0px rgba(1, 1, 1, 1);line-height: 30px;}
.td-sbig-title-wrap .td-sbig-title:hover {text-decoration: none !important; }
.td-sbig-title-wrap:hover {background-color: rgba(10, 77, 79, 1); -webkit-transition: background-color 500ms ease-out 0.5s;    -moz-transition: background-color 500ms ease-out 0.5s;    -o-transition: background-color 500ms ease-out 0.5s;    transition: background-color 150ms ease-out 0.2s;}
.sf-menu .td-menu-item > a {font-weight: bold}
.td_mod3 .entry-title a, .td_mod4 .entry-title a, .td_mod_mega_menu .item-details a {font-weight: 800}
.td_block_wrap .block-title a, .block-title span, .block-title label {font-weight: 800; text-transform: uppercase;}
.pl-ticker-title{font-size: 12px !important;text-transform: uppercase !important;font-family: Roboto Slab !important;font-weight: 800 !important;}
.sf-menu a.sf-with-ul {padding-right: 24px;}
.sf-menu > .td-menu-item > a {font-size: 12px;}
.trafico i {font-size: 75px;text-align: center !important;color:#3C872C;}
.trafico {background: #216361; border-radius: 8px;}
.titcategory a {text-transform: uppercase;font-weight: 600;font-size: 11px;}
.td_mod_wrap .updated {text-transform: uppercase;font-weight: 800;}
.fecha {float: left;position: absolute;z-index: 1;background: #2C8591;color: #fff;padding: 2px;font-size: 10px;text-transform: uppercase;font-weight: bold}
.fecha a{color: #d2d2d2}
.fecha a:hover{color: #fff !important}
.entry-comments-views {font-size: 10px}
.entry-comments-views .td-sp {padding-right: 3px;margin-left: 6px;}
.td_mod_wrap .entry-title a {font-family: "Roboto Slab"}
.td-extracto-wrap {margin-top: 6px;}
.extracto {color: #bbb;}
.avatar-106 {border-radius: 60px;margin-left: auto;margin-right: auto;width: 19%;float: left;margin: 0 10px 0 2px;}
.sf-menu li a:hover {border-color: #52848f !important}
.destacada .iosSlider .prevButton {display: none;}
.destacada .iosSlider .nextButton {display: none;}
.destacada .slider {cursor: pointer !important;}
.header-logo-wrap {margin-top: 0}
.block-child-cats {opacity: 0.9}
.titular {position: absolute;bottom: 0;width: 96%;height: auto;background-color: rgba(0, 0, 0, 0.6);;padding: 2% 1% 2% 3%}
.titular:hover {background-color: rgb(44,133,145)}
.td_mod6 {position: relative;margin-bottom: 0;}
.td_mod6 .entry-title a {color: #fff}
.td_mod6 .entry-title a:hover {color: #fff !important}

/* HOME DEPORTES */
.bloque-blanco .td_mod2 .entry-title a {color:#fff;}
.bloque-blanco .td_mod2 .meta-info {color:#fff !important;}
.bloque-blanco .td_mod3 .entry-title a, .td_mod3 .entry-title {color: #fff !important;}
.bloque-blanco .td_block_wrap {padding-bottom: 13px;}
.bloque-blanco .td_block_wrap .block-title a, .block-title label {font-size: 28px; background: none !important;}
.bloque-blanco .wpb_column .block-title span {font-size: 28px; background: none !important;}
.bloque-blanco .td-post-text-excerpt {color: #FFF !important;}
.bloque-blanco .block-title {margin: 14px 0 0px 0; border-bottom: 0}
.bloque-blanco .block-child-cats a {font-weight: bold; color: #373737}
.bloque-blanco .titcategory a  {color: #FFF !important;}
.bloque-blanco .entry-title a  {color: #FFF !important;} 
.bloque-especial {width: 95% !important} 
.bloque-especial .td_block_wrap .td_block3 .block-title-subcats{display: none;} 
.bloque-especial .td_ajax-prev-page {top: 15px;right: 32px;} 
.bloque-especial .td-ajax-next-page {top: 15px; right: 12px;} 
.bloque3 .fecha {display: none}
.block-child-cats {text-align: center; background: #F2F2F2;padding: 15px;border-radius: 3px;}
.block-child-cats a {color: #222222;font-size: 15px;font-weight: bold;font-family: Roboto Slab;}

/* ENCUESTAS */
.widget_polls-widget .block-title {border:0 !important;}
.widget_polls-widget .block-title span {background: none;}
.encuesta-cita {border-radius: 8px;}
.encuesta-cita h2 {text-transform: uppercase;font-weight: 500;font-style: italic;text-align: center;font-size: 17px;margin: 11px 0px 7px 0px;}
.encuesta-cita:before {content: "\f10d";top: 26px;left: 11px;;font-family: FontAwesome;font-weight: 700;font-size: 35px;color: #2B8591;position: absolute; }
.encuesta-cita .post-title a {font-family: Roboto Slab;font-size: 26px;text-transform: initial;} 
.encuesta-cita .post-title a:hover {color: #0A4D4F;} 
.encuesta-cita .entry-content {color: #98C1FF;font-style: oblique;} 
.encuesta-cita img {border-radius: 79px;border: 5px solid #999; float:left;width: 120px;} 
.encuesta-cita em {color: #fff;font-family: Roboto Slab;} 
.vc_carousel .vc_carousel-indicators li {background-color: #53848f }
.vc_carousel ol.vc_carousel-indicators {margin: 0;}
.wp-polls {padding: 5px;}
.widget_polls-widget .block-title

/* TICKER DE NOTICIAS */
.pl-ticker-items ul li a {
    font-weight: 600 !important;
    text-transform: uppercase !important;
	margin-left: 24px !important;}

/*Clima */
.bonobo_widget{
	overflow: hidden;
	padding: 15px;
	padding-top: 6px;
	margin-top: 0px;
	color: white;
	font-size: 14px;
	line-height: 21px;
}

.bonobo_widget .date{
	font-size: 18px;
	font-weight: bold;
	font-family: Roboto Slab;
}

.bonobo_widget .icon{
	text-align:center;
}

.bonobo_widget .icon img{
	width: 40px;
	height: 40px;
	box-shadow: none!important;
	background: #3c7f81;
	border-radius: 50px;
	padding: 5px;
}

.bonobo_widget  img{
	border: 0px !important;
	margin: 0px !important;
}

.bonobo_widget .temperature{
	font-size: 20px;
	padding-bottom: 17px;
	text-align: center;
	font-weight: 800;
}

.bonobo_widget .desc{
	list-style: none;
	line-height: 14px;
	margin: 0px!important;
	padding: 0px!important;
}

.bonobo_widget .desc li{
	font-size: 14px!important;
	margin: 0px!important;
	padding: 0px!important;
	list-style: none !important;
	line-height:1em !important;
	display: none;
}

.bonobo_widget .left_navigation{
	float: left;
	width: 24px;
	padding-right: 4px
}

.bonobo_widget .left_navigation img,.bonobo_widget .right_navigation img{
	box-shadow: none!important;
}

.bonobo_widget .center_content{
	margin: 0 22px 0 20%;
}

.bonobo_widget .right_navigation{
	float: right;
	width: 24px;
	padding-left: 4px
}

.bonobo_widget .invisible{
	display: none;
}

.bonobo_widget .city_title{
	font-size: 12px;
	display: none;
}

.bonobo_widget .number_date{
	font-weight: lighter;
}

.color-1{
	background: rgba(255,255,255,1)!important;
}
.color-1.op20{
	background: rgba(255,255,255,0.2)!important;
}
.color-1.op40{
	background: rgba(255,255,255,0.4)!important;
}
.color-1.op60{
	background: rgba(255,255,255,0.6)!important;
}
.color-1.op80{
	background: rgba(255,255,255,0.8)!important;
}

.color-2{
	background: rgba(26,26,26,1)!important;
}
.color-2.op20{
	background: rgba(26,26,26,0.2)!important;
}
.color-2.op40{
	background: rgba(26,26,26,0.4)!important;
}
.color-2.op60{
	background: rgba(26,26,26,0.6)!important;
}
.color-2.op80{
	background: rgba(26,26,26,0.8)!important;
}


.color-3{
	background: rgba(95,120,32,1)!important;
}
.color-3.op20{
	background: rgba(95,120,32,0.2)!important;
}
.color-3.op40{
	background: rgba(95,120,32,0.4)!important;
}
.color-3.op60{
	background: rgba(95,120,32,0.6)!important;
}
.color-3.op80{
	background: rgba(95,120,32,0.8)!important;
}


.color-4{
	background: rgba(74,14,63,1)!important;
}
.color-4.op20{
	background: rgba(74,14,63,0.2)!important;
}
.color-4.op40{
	background: rgba(74,14,63,0.4)!important;
}
.color-4.op60{
	background: rgba(74,14,63,0.6)!important;
}
.color-4.op80{
	background: rgba(74,14,63,0.8)!important;
}


/* Encuestas */
.wp-polls ul li, .wp-polls-ul li, .wp-polls-ans ul li {line-height: 18px;}
.wp-polls, .wp-polls-form {color: #fff; font-family: "Open Sans";}

/* Noticias */
.post header h1 {
font-weight: bold;}
body .td-post-text-content {font-family: "Open Sans";font-size: 17px;}

/* DOLAR */
.widget_dolar_widget {background: #216361;color: #fff; font-family: "Open Sans";padding: 10px;}
.widget_dolar_widget ul {top: 0;}
.cotizacion {font-weight: bold; font-size: 23px;line-height: 24px;}
.widget_dolar_widget  .row-fluid {margin-top: 5px;}
.operacion {color: #fff;font-weight: bold;font-size: 16px;line-height: 24px;}
.operacion-lista {margin-bottom: 4px}
.bloque-dolar .wpb_tab {padding: 0 !important; margin-top: 0px !important}
.bloque-dolar .ui-tabs-nav {margin: 0 !important}

/*Cereal*/
.widget_mercado_widget{background: #216361;color: #fff;font-family: "Open Sans";padding-left: 12px;}
.widget_mercado_widget ul {top: 0;}

/* compartir imagen */
.td-admin-edit {background-color: #fff;font-size: 20px;padding: 4px;border-radius: 75px;height: 19px;width: 20px;margin-left: 1px;z-index: 1}
.twitter-compartir {margin-left: 30px; color: #4099FF}
.facebook-compartir {color: #3b5998}

.td-social-sharing-buttons {font-family: Roboto Slab}

.cat_on_thumb {
position: relative;
}
.cat_on_thumb > a {
color: white;
position: absolute;
top: 2px;
left: 2px;
background-color: rgba(33,99,97,1);
padding: 2px;
z-index: 9988;
text-transform: uppercase;
font-weight: 800;
}
.td-admin-edit {
top: 31px;}

/* POST */ 
.td-social-sharing ul li:last-child {display: none;}
.meta-info {font-family: "Open Sans"}
.entry-category {font-family: "Open Sans" }
ul.td-category a {text-transform: uppercase;font-weight: 800;}


/* TIPOGRAFIA */
.post header h1, .post header h1 a {
    font-family:Roboto Slab;

}


body .td-post-text-content {
    font-family:"Open Sans";
font-size:15px;

}


.post .td-post-text-content h1 {
    font-family:Roboto Slab;

}


.post .td-post-text-content h2 {
    font-family:Roboto Slab;

}


.post .td-post-text-content h3 {
    font-family:Roboto Slab;

}


.post .td-post-text-content h4 {
    font-family:Roboto Slab;

}


.post .td-post-text-content h5 {
    font-family:Roboto Slab;

}


.post .td-post-text-content h6 {
    font-family:Roboto Slab;

}


.td-post-text-content blockquote.td_quote_left p,
.td-post-text-content blockquote.td_quote_right p,
.td-post-text-content blockquote:not(.td-quote-classic):not(.td_quote_box):not(.td_pull_quote) p {
    font-family:Roboto Slab;

}



.post .td-post-text-content blockquote.td-quote-classic p {
    font-family:Roboto Slab;

}


.td-post-text-content .td-quote-author p {
    font-family:Roboto Slab;

}


.single_template_1 header h1.entry-title {
    font-family:Roboto Slab;

}


.single_template_2 header h1.entry-title {
    font-family:Roboto Slab;

}


.single_template_3 header h1.entry-title {
    font-family:Roboto Slab;

}


.single_template_4 header h1.entry-title {
    font-family:Roboto Slab;

}


.single_template_5 header h1.entry-title {
    font-family:Roboto Slab;

}


.page-template-default h1.td-page-title span,
.page-template-page-pagebuilder-title-php h1.td-page-title span{
    font-family:Roboto Slab;

}


.page-template-default .td-page-text-content {
    font-family:"Open Sans";

}


.page-template-default .td-page-text-content h1 {
    font-family:Roboto Slab;

}


.page-template-default .td-page-text-content h2 {
    font-family:Roboto Slab;

}


.page-template-default .td-page-text-content h3 {
    font-family:Roboto Slab;

}


.page-template-default .td-page-text-content h4 {
    font-family:Roboto Slab;

}


.page-template-default .td-page-text-content h5 {
    font-family:Roboto Slab;

}


.page-template-default .td-page-text-content h6 {
    font-family:Roboto Slab;

}


.page-template-default .td-page-text-content blockquote.td_quote_left p,
.page-template-default .td-page-text-content blockquote.td_quote_right p,
.page-template-default .td-page-text-content blockquote:not(.td-quote-classic):not(.td_quote_box):not(.td_pull_quote) p {
    font-family:Roboto Slab;

}



.page-template-default .td-page-text-content blockquote.td-quote-classic p {
    font-family:Roboto Slab;

}


.page-template-default .td-page-text-content .td-quote-author p {
    font-family:Roboto Slab;

}

/*MENU */
.td-header-menu-wrap li a, .td-header-menu-wrap .td_data_time {font-family:Roboto Slab;font-size:11px;}
.sf-menu > .td-menu-item > a {font-family:Roboto Slab;font-size:12px;line-height:47px;text-transform:uppercase;color:#ffffff;}
.td_mod_mega_menu .item-details a {    font-family:Roboto Slab;}
.sf-menu ul .td-menu-item a, .td_mega_menu_sub_cats .block-mega-child-cats a{    font-family:Roboto Slab;font-size:13px;}
.sf-menu > li > a {padding: 0px 11px 0px 3px;}
.sf-sub-indicator {right: 11px;}

.td-big-grid-post-0 .td-sbig-title-wrap .td-sbig-title, .td-big-grid-post-0 .td-sbig-title-wrap .td-sbig-title:hover, .td-big-grid-post-0 .td-sbig-title-wrap a {font-family:Roboto Slab;color:#ffffff;}
.td-big-grid-post-sec .td-sbig-title-wrap a, .td-big-grid-post-sec .td-sbig-title-wrap a {    font-family:Roboto Slab;color:#ffffff;}
.td_normal_slide .td-sbig-title-wrap .td-sbig-title {
    font-family:Roboto Slab;
color:#ffffff;

}

.td_normal_slide .td-sbig-title-wrap a, .td_normal_slide .iosSlider-col-2 .item .td-sbig-title-wrap a, .td_normal_slide .iosSlider-col-1 .item .td-sbig-title-wrap a {
    font-family:Roboto Slab;
color:#ffffff;

}


.td_block_wrap .block-title a, .block-title span, .block-title label {
    font-family:Roboto Slab;
font-size:15px;
line-height:15px;
color:#ffffff;

}


.td_mod2 .entry-title a, .td_mod5 .entry-title a, .td_mod6 .entry-title a, .td_mod_search .entry-title a {
    font-family:Roboto Slab;

}
.td_mod3 .entry-title a, .td_mod4 .entry-title a, .td_mod_mega_menu .item-details a {
    font-family:Roboto Slab;
}
body .td-post-text-excerpt {
    font-family:"Open Sans";
font-size:15px;
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-active a {
    font-family:Roboto Slab;
}
/* BOTON WHATSAPP */

.wa_btn {
	background-image: url('../button.svg');
	border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block !important;
    position: relative;
    font-family: Arial,sans-serif;
    letter-spacing: .4px;
    cursor: pointer;
    font-weight: 400;
    text-transform: none;
    color: #fff;
    border-radius: 2px;
    background-color: #5cbe4a;
    background-repeat: no-repeat;
    line-height: 1.2;
	text-decoration: none;
	text-align: left;
}

.wa_btn_s {
    font-size: 12px;
    background-size: 16px;
    background-position: 5px 2px;
    padding: 3px 6px 3px 25px;
}

.wa_btn_m {
    font-size: 16px;
    background-size: 20px;
    background-position: 4px 2px;
    padding: 4px 6px 4px 30px;
}

.wa_btn_l {
    font-size: 16px;
    background-size: 20px;
    background-position: 5px 5px;
    padding: 8px 6px 8px 30px;
}
