/* You can type here any CSS code that will be loaded both on your admin and front-end pages.
Let us help you by giving a few exmaple CSS classes: */

/* Front-end sliders & preview */

.ls-container { /* The slider itself */

}

.ls-slide { 

}

.ls-slide a:hover {
	color: blue;
	text-decoration: underline;
}

.ls-slide #yourID {

}

.ls-slide .yourClass {

}

/* Side color of 3D objects */
.ls-3d-box div { background: #777; }

/*SOFIA*/
/*CENTRAL - NEWELLS*/
.wpb_gallery .wpb_flexslider .flex-caption {
	height: 210PX;
}
.flex-caption p {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.flex-caption  h2.post-title {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}


/* Carusel
.vc-carousel .vc-carousel-inner{
	height: 146px;
}
.vc-carousel .vc-carousel-inner .entry-content {
	position: relative;
	float: right;
	margin-top: -141px;
	width: 75%;
}
.vc-carousel .vc-carousel-inner .entry-content p{
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.vc-carousel .vc-carousel-inner  h2.post-title {
	float: right;
	margin-top: -150px;
	width: 80%;
	position: relative;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.vc-carousel-indicators {
	top: 160px;
	position: absoulte;
}
*/
/* Carusel main page*/

.wpb_wrapper ol.vc-carousel-indicators {
	margin-left: -35px;
}

.wpb_wrapper  .vc-carousel .vc-carousel-inner {
	position: relative;
	overflow: hidden;
	width: 80%;
	height: 350px;
}
